#about{
    background-color: #393E46;
}

.about-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--section-title);
    margin-bottom: 4rem;
    font-family: 'Roboto Slab', sans-serif;
    padding: 2rem;
    color: rgb(255, 211, 105);

}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image{
    background-color: white;
    border-radius: 15px;
    padding: 0.2rem;
    height: var(--image-size);
}

.info{
    padding: 2rem;
    max-width: 60%;
    font-size: var(--info-text);
    text-align:justify;
    color: white;
}

@media (max-width: 600px){
    .about-container{
        flex-direction: column;
    }
    .info{
        text-align: center;
    }
}
