#contact{
    background-color: #393E46;
    height: 50vh;
    color: white;
}

.contact-title{
    font-size: var(--section-title);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', sans-serif;
    color: rgb(255, 211, 105);
    margin-bottom: 4rem;
}

.contact-container{
    width: 80%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.email-phone{
    text-align: left;
    font-size: var(--email-phone);
}

.copy-button{
    width: 2rem;
    margin-left: 1rem;
}

.contact-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    margin: 0 1rem;
    border: 1px solid white;
    border-radius: 10px;
}

.contact-line:first-child{
    margin-bottom: 0.8rem;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
}

.social-media img{
    height: var(--social-media);
    width: auto;
    padding: 1rem;
}

@media (max-width:500px){
    .contact-container{
        flex-direction: column;
    }
}