.technologies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

.tech-title{
    font-family: 'Roboto Slab', sans-serif;
    font-size: var(--section-title);
    display: flex;
    justify-content: center;
    align-items:center;
}

.tech-area{
    padding: 1rem;
    background-color: #393E46;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.tech-area__title{
    color: white;
    text-align: center;
    font-size: var(--tech-area-title);

}

.tech-area__items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 0rem;
}

.tech-item__img{
    height: var(--tech-item__img);
    width: auto;
}

.tech-item__title{
    font-size: var(--tech-item__title);
    color: white;
}

@media (max-width: 400px){
    .technologies{
        gap: 1rem;
    }
}