
.technologies{
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;
}

.tech-title{
    height: 30%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-area{
    padding: 1rem;
    background-color: #393E46;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.tech-area__title{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.tech-area__items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 0rem;
}

.tech-item__img{
    height: 3rem;
    width: auto;
}

.tech-item__title{
    color: white;
}