.header{
    box-sizing: border-box; 
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    background-color: rgb(255, 211, 105);
    border-bottom: 1px solid black ;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons a{
    padding: 1rem;
    font-size: var(--header-button);
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.title{
    font-size: var(--header-title);
    font-weight: bold;
}

@media (max-width:500px){
    .buttons a{
        display: none;
    }
}