:root{
  --section-title: 4rem;

  --header-title:3rem;
  --header-button:1.2rem;

  --name: 5rem;
  --name-info:1.2rem;

  --info-text: 1.8rem;
  --image-size: 15rem;
  
  --tech-area-title: 1.5rem;
  --tech-item__img: 3rem;

  --email-phone: 1.5rem;
  --social-media: 5.5rem;
}



@media (max-width: 769px){
  :root{
    --section-title: 3.5rem;

    --header-title:2.5rem;
    --header-button:1rem;

    --name: 4.5rem;
    --name-info:1.2rem;

    --info-text: 1.4rem;
    --image-size: 13rem;
    
    --tech-area-title: 1.5rem;
    --tech-item__img: 3rem;
    
    --email-phone: 1.2rem;
    --social-media: 5rem;
  }
}

@media (max-width: 600px){
  :root{
    --section-title: 3rem;

    --header-title:2rem;
    --header-button:0.6rem;

    --name: 4.5rem;
    --name-info:1.2rem;

    --info-text: 1.4rem;
    --image-size: 13rem;
    
    --tech-area-title: 1.5rem;
    --tech-item__img: 3rem;
    
    --email-phone: 1rem;
    --social-media: 4rem;
  }
  
}
