body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Roboto Slab";   /*Can be any text*/
  src: local("RobotoSlab-Regular"),
    url("./Fonts/RobotoSlab-Regular.ttf")  format("truetype");
}

@font-face {
  font-family: "Roboto";   /*Can be any text*/
  src: local("Roboto-Regular"),
    url("./Fonts/Roboto-Regular.ttf")  format("truetype");
}
