body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
}

html{
  scroll-behavior: smooth;
  overflow-x:hidden;

}

@font-face {
  font-family: "Roboto Slab";   /*Can be any text*/
  src: local("RobotoSlab-Regular"),
    url("./Fonts/RobotoSlab-Regular.ttf")  format("truetype");
}

@font-face {
  font-family: "Roboto";   /*Can be any text*/
  src: local("Roboto-Regular"),
    url("./Fonts/Roboto-Regular.ttf")  format("truetype");
}


@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}